@{
    ViewBag.Title = "About";
}
<h2 class="page-header">@ViewBag.Title</h2>

<p>
    for more detail about my self please visit<br />
    <h4>
        <a href="#">N3o.developer.net</a>
    </h4>
</p>
