@{
    ViewBag.Title = "Contact";
}
<h2 class="page-header">@ViewBag.Title.</h2>

<address>
    Param Boys Hostel,<br />
    opp. Labhubhai Engg. College,<br />
    Rajkot - 360004.<br />
    P: 7359196488<br />
    Email: N3o735@gmail.com
</address>

<address>
    <strong>Support    :</strong>   <a href="mailto:Support@example.com">SupportN30@Paypal.com</a><br />
    <strong>Follw me : </strong><span class="fade fa-instagram"></span> <a href="#">@@sagar_agola</a>
</address>